# Copy this file to .env and fill in your values
# Never commit .env to GitHub

AWS_REGION=eu-west-1
S3_BUCKET=ireland-rent-tracker-raw-data

REDSHIFT_HOST=your-redshift-endpoint.eu-west-1.redshift-serverless.amazonaws.com
REDSHIFT_PORT=5439
REDSHIFT_DB=dev
REDSHIFT_USER=admin
REDSHIFT_PASSWORD=your-password-here
REDSHIFT_SCHEMA=staging